<%layout("/layouts/boilerplate")%>
<body>
    
    <div class="row">
    <div class="col-8 offset-2">
        <br>
        <h3>Add new listing</h3>

    
    <form method="POST" action="/listings"  novalidate class="needs-validation" enctype="multipart/form-data">
    <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input name="listing[title]" placeholder="enter title" type="text" class="form-control" required>
       <div class="valid-feedback">Title looks good!!</div>
       <div class="invalid-feedback">please enter title</div>
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea name="listing[description]" placeholder="enter description" type="text" class="form-control" required></textarea>
        <div class="valid-feedback">looks good</div>
        <div class="invalid-feedback">please enter feedback</div>
    </div>
    <!-- <div class="mb-3">
        <label for="image" class="form-label">Image Link</label>
        <input name="listing[image]" placeholder="enter url" class="form-control">
        <div class="valid-feedback">done!!</div>
        <div class="invalid-feedback">please enter image url</div>
    </div> -->


    <div class="mb-3">
        <label for="image" class="form-label">Upload Listing Image</label>
        <input name="listing[image]"  type="file" class="form-control">
        <div class="valid-feedback">done!!</div>
        <div class="invalid-feedback">please enter image url</div>
    </div>

    <div class="row">

        <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>
            
            <input name="listing[price]" placeholder="enter price"  class="form-control" required>
            <div class="valid-feedback">correct price entered</div>
            <div class="invalid-feedback">enter correct price</div>
          
        </div>
        <div class="mb-3 col-md-8">
            <label for="country" class="form-label">Country</label>
            <input name="listing[country]" placeholder="enter country" type="text" class="form-control" required>
            <div class="valid-feedback">entered country name</div>
            <div class="invalid-feedback">enter country name please</div>
        </div>  

    </div>



    <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input name="listing[location]" placeholder="enter location" type="text" class="form-control" required>
        <div class="valid-feedback">nice location</div>
        <div class="invalid-feedback">enter location please</div>
    </div> 
    
       
        
        <button class="btn btn-dark add-btn">Add</button>
        <br><br>

    </form>
</div>
</div>
</body>
